/* GENERAL */

* {
  box-sizing: border-box;
  
}

body {
  background-color: rgba(128, 128, 128, 0.226);
  margin: 0;
  padding: 0;
  font-family: 'Geneva', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* LOGO & NAVIGATION */

.nav-bar {
  background-color: aquamarine;
  height: 100px;
}

/* Flexbox within .nav-bar: two columns for logo and navigation*/
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* Flexbox within .nav-content: columns for links */
.nav-content-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-content li {
  margin: 25px;
}

/* hero image */
.hero {
  background-color: #a200ff;
  height: 500px;
  margin: 0px;
}

/* MAIN SECTIONS */

/* outer container for main sections */
.container {
  margin: 3% 10%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;
}

/* outer container for main sections */
.container-titles {
  border-right: 5px solid #ffffff;
  padding-right: 30px;
  text-align: right;
  min-width: 100px;
}

.container-about {
  padding-left: 30px;
}

.container-work {
  display: grid;
  padding-left: 30px;
  grid-template-columns: 50vh 50vh;
  grid-template-rows:  1fr 1fr 1fr 1fr;
  column-gap: 15px;
  row-gap: 15px;
  grid-template-areas: 
    "image-1 image-1"
    "image-1 image-1"
    "image-2 image-3"
    "image-4 image-5";
}

.image-1 {
  grid-area: image-1;
  
}
.image-2 {
  grid-area: image-2;
}

.image-3 {
  grid-area: image-3;
}

.image-4 {
  grid-area: image-4;
}

.image-5 {
  grid-area: image-5;
}

/* overlapping header over image */
.image-1 h2, 
.image-2 h2, 
.image-3 h2, 
.image-4 h2, 
.image-5 h2 {
  margin: -100px 0px 0px 30px;
}

.container-work img {
  max-width: 100%;
  height: auto;
  border: 5pt solid #ffffff;
  object-fit: cover;
}

.container-contact {
  display: flex;
  padding: 0px 0px 80px 30px;
  justify-content: space-evenly;
  align-items: center;
}



