/* PSEUDO-CLASS ELEMENTS */



/* GENERAL */

* {
  box-sizing: border-box;
  
}

body {
  background-color: rgba(128, 128, 128, 0.226);
  margin: 0;
  padding: 0;
  font-family: 'Geneva', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

h1 {
  font-size: 4rem;
}

h2 {
  font-size: 3.5rem;
}

h3 {
  font-size: 3rem;
}

h4 {
  font-size: 2.5rem;
}

h5 {
  font-size: 2rem;
}

h6 {
  font-size: 1.5rem;
}

p {
  font-size: 1rem;
}


/* LOGO & NAVIGATION */

.nav-bar {
  background-color: #0f0e17;
  height: 100px;
}

.nav-bar h5 {
  background-color: grey;
  padding: 3px 30px;
}

/* Flexbox within navigation bar: two columns for logo and navigation*/
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* Flexbox within navigation content: columns for links */
.nav-content-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-content li {
  margin: 25px;
}

/* Naviagation-specific pseudo-classes */
.nav-content-links a:link,
.nav-content-links a:visited {
  color: white;
  padding: 3px 10px;
}
  
.nav-content-links a:hover {
  color: white;
  background-color: #ff8906;
  padding: 3px 10px;
}
  
.nav-content-links a:active {
  color: #000000;
}

/* HERO BANNER */

.hero-banner {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
  max-height: 400px;
  overflow: hidden;
}

.hero-banner img {
  width: 100%;
  height: auto;
  object-fit: cover;
}

.mugshot {
  display: grid;
  row-gap: 5px;
  position: relative;
  margin: -350px 14% 30px 0px;
  grid-template-columns: 1;
  grid-template-rows: 2;
  grid-template-areas: 
  "mugshot-image"
  "mugshot-text";
}

.mugshot img {
  grid-area: mugshot-image;
  justify-content: center;
  filter: grayscale(100%);
  width: 200px;
  height: auto;
}

.mugshot h5 {
  grid-area: mugshot-text;
  background-color: #f25f4c9b;
  text-align: center;
  padding: 3px 10px;
}


/* MAIN */

.page-wrapper {
  margin: 3% 10%;
}

/* About section: grid 2 columns */
.page-section-about {
  display: grid;
  margin: 30px 0px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "title-about container-about";
}

.title-about {
  grid-area: title-about;
}

.container-about {
  grid-area: container-about;
}

/* Work section: grid 2 columns: second column holds nested grid for portfolio work images */
.page-section-work {
  display: grid;
  margin: 30px 0px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: auto;
  grid-template-areas: 
  "title-work container-work-images";
}

.title-work {
  grid-area: title-work;
}

/* Nested grid: work images */
.container-work-images {
  grid-area: container-work-images;
  display: grid;
  column-gap: 30px;
  row-gap: 30px;
  margin-left: 30px;
  grid-template-columns: repeat (2, 1fr);
  grid-template-rows: repeat (4, 1fr);
}

.container-work-images .card-overlay {
  margin-right: 10%;
}

.image-red-wall {
  grid-column-start: 1;
  grid-column-end: 3;
  grid-row-start: 1;
  grid-row-end: 3;
}

.image-laptop {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 3;
  grid-row-end: 4;
}

.image-car {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 3;
  grid-row-end: 4;
}

.image-sea {
  grid-column-start: 1;
  grid-column-end: 2;
  grid-row-start: 4;
  grid-row-end: 5;
  width: auto;
  height: 200px;
  object-fit: cover;
}

.image-website {
  grid-column-start: 2;
  grid-column-end: 3;
  grid-row-start: 4;
  grid-row-end: 5;
  width: auto;
  height: 200px;
  object-fit: stretch;
}

.image-red-wall,
.image-laptop,
.image-car,
.image-sea,
.image-website {
  margin: 0px;
  padding: 0px;

}

.work-image {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  padding: 0px;
  margin: 0px;
  filter: grayscale(90%);
}

.container-work-images h5 {
  position: relative;
  margin-top: -80px;
  background-color: #f25f4cae;
  padding: 3px 10px;
  text-align: left;
}

/* Work section image-specific pseudo-class */
a .work-image:hover {
  filter: grayscale(0%);
}

/* Flexbox for text overlay  */
.work-image h5 {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: end;
}

/* Contact section: grid 2 columns: second column holds nested flexbox for contact info links */
.page-section-contact {
  display: grid;
  margin: 30px 0px;
  grid-template-columns: 1fr 4fr;
  grid-template-rows: 1fr;
  grid-template-areas: 
  "title-contact container-contact";
}

.title-contact {
  grid-area: title-contact;
}

.container-contact {
  grid-area: container-contact;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

/* Contact-specific pseudo-classes */
.container-contact a:link,
.container-contact a:visited {
  color: #000000;
  padding: 3px 10px;
}
  
.container-contact a:hover {
  color: white;
  background-color: #ff8906;
  padding: 3px 10px;
}

/* Sections general design */
.title-about,
.title-work,
.title-contact {
  vertical-align: top;
  text-align: right;
  line-height: 1;
  padding: 0px 30px 0px 0px;
  border-right: 5px solid #000000;
  min-width: 200px;
}

.container-about,
.container-work,
.container-contact {
  padding: 0px 0px 0px 30px;
  width: 100%;
}




/* MEDIA QUERIES */

@media screen and (max-width: 768px) {
  .nav-bar {
    background-color: #0f0e17;
    height: 150px;
  }
  
  .nav-bar h5 {
    background-color: grey;
    padding: 3px 10px;
    margin-top: 30px;
  }
  
  /* Flexbox within navigation bar: two columns for logo and navigation*/
  .nav-content {
    display: flex;
    flex-direction: column;
  }
  
  /* Flexbox within navigation content: columns for links */
  .nav-content-links {
    display: flex;
    justify-content: space-between;
    list-style-type: none;
  }
  
  .nav-content li {
    margin: 10px 50px;
  }
  
  .hero-banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    align-content: center;
    max-height: 500px;
    overflow: hidden;
  }
  
  .mugshot {
    display: grid;
    row-gap: 10px;
    position: relative;
    margin: -350px 0px 30px 0px;
    grid-template-columns: 1;
    grid-template-rows: 2;
    grid-template-areas: 
    "mugshot-image"
    "mugshot-text";
  }

  .mugshot img {
    grid-area: mugshot-image;
    width: 200px;
    height: auto;
  }
  
  .mugshot h5 {
    grid-area: mugshot-text;
    background-color: #f25f4c9b;
    text-align: center;
    align-items: center;
    padding: 3px 10px;
  }

    /* About section: grid 2 columns */
  .page-section-about {
    display: grid;
    margin: 30px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr;
    grid-template-areas: 
    "title-about"
    "container-about";
  }

  .title-about {
    grid-area: title-about;
  }
  
  .container-about {
    grid-area: container-about;
    margin: 10px 0px;
  }


    /* Work section: grid 2 columns: second column holds nested grid for portfolio work images */
  .page-section-work {
    display: grid;
    margin: 30px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title-work"
    "container-work-images";
  }

  .title-work {
    grid-area: title-work;
  }

  /* Nested grid: work images */
  .container-work-images {
    grid-area: container-work-images;
    display: grid;
    column-gap: 30px;
    row-gap: 30px;
    margin: 10px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: repeat (6, 1fr);
  }

  .container-work-images .card-overlay {
    margin-right: 25%;
  }

  .image-red-wall {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
  }

  .image-laptop {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 2;
    grid-row-end: 3;
  }

  .image-car {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 3;
    grid-row-end: 4;
  }

  .image-sea {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 4;
    grid-row-end: 5;
  }

  .image-website {
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 5;
    grid-row-end: 6;
  }

    /* Contact section: grid 2 columns: second column holds nested flexbox for contact info links */
  .page-section-contact {
    display: grid;
    margin: 0px 0px;
    grid-template-columns: 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
    "title-contact"
    "container-contact";
  }

  .title-contact {
    grid-area: title-contact;
  }

  .container-contact {
    grid-area: container-contact;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 10px 0px;
  }

    /* Sections general design */
  .title-about,
  .title-work,
  .title-contact {
    vertical-align: top;
    text-align: left;
    line-height: 1;
    padding: 0px;
    border-right: 0px solid #000000;
  }

  .container-about,
  .container-work,
  .container-contact {
    padding: 0px 0px 0px 0px;
    width: 100%;
  }
}


