/* GENERAL */

* {
  box-sizing: border-box;
  
}

body {
  background-color: rgba(128, 128, 128, 0.226);
  margin: 0;
  padding: 0;
  font-family: 'Geneva', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
  line-height: 1.5;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

p {
  margin: 0;
}

/* LOGO & NAVIGATION */

.nav-bar {
  background-color: aquamarine;
  height: 100px;
}

/* Flexbox within .nav-bar: two columns for logo and navigation*/
.nav-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-left: 10%;
  margin-right: 10%;
}

/* Flexbox within .nav-content: columns for links */
.nav-content-links {
  display: flex;
  justify-content: flex-end;
  list-style-type: none;
}

.nav-content li {
  margin: 25px;
}

/* HERO IMAGE */

.hero {
  background-color: #a200ff;
  height: 500px;
  margin: 0px;
}

/* MAIN SECTIONS */

.container {
  margin: 0% 10%;
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr;

}

.container-titles {
  border-right: 5pt solid #ffffff;
  margin: 5pt 5pt;
  padding-right: 15pt;
  text-align: right;
  min-width: 100px;
}

.container-about {
  background-color: aqua;
  margin: 5pt 5pt;
  padding: 5pt 5pt;
}

.container-work {
  display: grid;
  grid-template-columns: 50vh 50vh;
  grid-template-rows: 3fr 1fr 1fr;
  grid-template-areas: 
    "image-main image-main"
    "image-1 image-2"
    "image-3 image-4";
}



.image-main {
  grid-area: image-main;
  object-fit:contain;
  width: 100%;
  border: 5pt solid #a200ff;
  
}

.image-1 {
  grid-area: image-1;
  object-fit: contain;
  width: 100%;
  max-height: 100%;
  border: 5pt solid #a200ff;
}

.image-2 {
  grid-area: image-2;
  object-fit: fill;
  width: 100%;
  max-height: 100%;
  border: 5pt solid #a200ff;
}

.image-3 {
  grid-area: image-3;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 5pt solid #a200ff;
}

.image-4 {
  grid-area: image-4;
  object-fit: cover;
  width: 100%;
  max-height: 100%;
  border: 5pt solid #a200ff;
}

.container-contact {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}



